
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.navbar {
    background-color: #ffba00;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

.btn-atas {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-atas:hover {
    background-color: #444;
}

/* -------------------------- */
.sidebar {
    background-color: #ef2020;
    color: #fff;
    padding: 20px;
    width: 250px;
    text-align: left;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffba00;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar a:hover {
    text-decoration: underline;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
}

.btn-tengah {
    background-color: #ffba00;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-tengah:hover {
    background-color: #ffcd57;
}

.image {
    flex: 1;
    text-align: center;
}

.foto-ayam {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .content {
        padding: 20px 0;
    }
    .image {
        margin-top: 20px;
    }
}

.badan {
    display: flex;
}

.hak-cipta {
    background-color: #2e2d2c;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hak-cipta p{
    color: white;
}

